<div class="container">
  <h2>Euclid's algorithm</h2>
  <p> Enter two numbers and watch their GCD be calculated </p>
  <div class="inputs">
    <input type="text" name="num1">
    <input type="text" name="num2">
    <button id="start">Click me!</button>
  </div>
</div>

<div class="staging-area">

</div>
