<div class="container">
  <h2>Integer long division, illustrated</h2>
  <p> Enter numbers below </p>
  <div class="inputs">
    <input type="text" name="dividend"> divided by
    <input type="text" name="divisor">
    <button id="start">Click me!</button>
  </div>
</div>

<div class="staging-area">

</div>
