<script src="/js/shunt.js"></script>

<div class="container">
  <h2>Infix to RPN</h2>
  <p> Enter an algebraic expression and I'll convert to RPN </p>
  <div class="inputs">
    <input type="text" name="expr">
    <button id="start">Click me!</button>
  </div>
</div>

<div class="staging-area">

</div>
