<ul>
  <li>
    <div class="token">305</div>
    <div class="token">=</div>
    <div class="token">27</div>
    <div class="movable divisor">27</div>
    <div class="token">*</div>
    <div class="token">11</div>
    <div class="token">+</div>
    <div class="token">8</div>
    <div class="movable remainder">8</div>
  </li>
  <li>
    <div class="token">27</div>
    <div class="token">=</div>
    <div class="token">8</div>
    <div class="token">*</div>
    <div class="token">3</div>
    <div class="token">+</div>
    <div class="token">3</div>
  </li>
</ul>
<p>Hello</p>
